.business-growth-promo-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.business-growth-promo-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.hero-heading {
  align-self: center;
  padding: 0;
  margin: 0;
  margin-left: 48px;
  font: 700 30px Montserrat, sans-serif;
}
.workshop-divider {
  box-sizing: border-box;
  align-self: center;
  width: 56px;
  margin-top: 33px;
  border-top: 3px solid #ff7f6b;
}
.business-growth-features-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  margin-top: 55px;
}
.profit-scale-box {
  box-sizing: border-box;
  width:50vh;
  height: 60vh;
  padding: 25px 24px 25.5px;
  background: #eeecec;
  border-radius: 20px;
}
.profit-scale-box:hover{
  background-color: rgb(81, 81, 178);
  color: white;
}
.time-wealth-image {
  box-sizing: border-box;
  display: block;
  width: 50px;
  max-width: initial;
  height: 50px;
}
.profit-scale-guarantee {
  margin-top: 51px;
}

.profit-scale-style {
  align-self: flex-start;
  padding: 0;
  margin: 0;
  text-align: left;
  text-transform: capitalize;
  margin-right: 3px;
}
.bold{
  font:700 17px/25.5px Montserrat;
}
.not-bold{
  font:400 17px/25.5px Montserrat;
}
.profit-scale-guarantee-style {
  padding: 0;
  margin: 0;
  margin-top: 10.5px;
  text-align: left;
  text-transform: capitalize;
}
@media screen and (max-width:480px){
  .profit-scale-box{
    width: 100%;
  }
}
