.main-content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success-workshop-details-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 75px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 66px;
  padding-bottom: 47px;
}
.business-coach-info-section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.business-coach-card {
  padding-top: 4px;
  width:40rem;
}
.coach-card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.business-coach-image {
  box-sizing: border-box;
  display: block;
  width: 12rem;
  max-width: initial;
  border: none;
  object-fit: cover;
}
.business-coach-info-container {
  padding-bottom: 42px;
  margin-left: 29px;
}
.business-success-coach-text-style {
  padding: 0;
  margin: 0;
  margin-top: 31px;
  font: 400 19px/26.5px Montserrat, sans-serif;
  color: #131313;
  text-align: left;
}
.full-width-divider {
  box-sizing: border-box;
  width: 100%;
  margin-top: 42px;
  border-top: 1px solid #c8c8c8;
}
.business-success-details {
  padding: 0;
  margin: 0;
  margin-top: 45px;
  font: 400 19px/26.5px Montserrat, sans-serif;
  color: #131313;
  text-align: left;
}
.business-owner-count-text-style {
  font: 700 19px/26.5px Montserrat, sans-serif;
  color: #ff7f6b;
  text-align: left;
}
.bonus-timer-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 46px;
  align-items: center;
  justify-content: flex-start;
  width: 42.15%;
  padding-bottom: 18px;
}
.bonus-registration-message {
  box-sizing: border-box;
  flex: 0 0 auto;
  max-width: 183px;
  padding: 0;
  margin: 0;
  font: 600 19px/26.5px Montserrat, sans-serif;
  color: #131313;
  text-align: center;
}
.countdown-timer-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  margin-top: -6px;
  margin-left: -62px;
}
.coaching-info {
  padding: 0;
  margin: 0;
  font: 500 16px/22.5px Montserrat, sans-serif;
  color: #131313;
  text-align: left;
}
.bold-uppercase-title {
  padding: 0;
  margin: 0;
  margin-top: 22.5px;
  font: 800 35px Montserrat, sans-serif;
  color: #ff7f6b;
  text-transform: uppercase;
}
@media screen and (max-width:600px){
  .coaching-info{
    font: 500 14px/22.5px Montserrat
  }
  .bold-uppercase-title{
    font: 800 25px Montserrat, sans-serif;
  }
}

@media screen and (max-width:1040px){
  .business-coach-info-section{
    flex-direction: column;
    align-items: center;
  }
  .business-coach-card{
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width:600px){
  .business-coach-image{
    width: 9rem;
  }
  .business-coach-info-container{
    padding-bottom: 6px;
  }
  .business-success-coach-text-style{
    font: 400 15px/26.5px Montserrat, sans-serif;
    margin-top: 18px;
  }
  .business-success-details{
    font: 400 15px/26.5px Montserrat, sans-serif;
  color: #131313;
  }
  .business-owner-count-text-style{
    font: 700 15px/26.5px Montserrat, sans-serif;
  }
  .english-class-details{
    font: 400 16px Montserrat, sans-serif;
  }
  .main-event-details{
    font: 700 18px/26px Montserrat, sans-serif;
  }
  .success-workshop-details-container{
    gap:40px;
  }
  .full-width-divider{
    margin-top: 25px;
  }
  .business-success-details{
    margin-top: 26px;
  }
}
