.program-rating-stats-container {
  box-sizing: border-box;
  width: 10rem;
  padding-right: 15.5px;
  display: flex;
}
.program-rating-container {
  box-sizing: border-box;
  padding-left: 10px;
  display: flex;
  gap:15px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 72px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
.program-rating-info-block {
  box-sizing: border-box;
  display: block;
  height: 27px;
}
.testimonial-text {
  padding: 0;
  margin: 0;
  font: 700 17px/24px Montserrat, sans-serif;
  color: #131313;
  text-align: left;
}
.program-rating-text-style {
  font: 400 17px/24px Montserrat, sans-serif;
  text-align: left;
}
@media screen and (max-width:600px){
  .testimonial-text{
    font: 700 14px/24px Montserrat, sans-serif;
  }
  .program-rating-text-style{
    font: 400 14px/24px Montserrat;
    margin-right: 3px;
  }
  .program-rating-stats-container{
    padding-right: 0;
  }
  .program-rating-container{
    width: 100%;
    gap:5px;
  }
  .brtag{
    display: none;
  }
}
