.join-workshop-info-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:0 10px;
}
.join-workshop-info-container1 {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding-top:60px;
  padding-bottom:50px;
}
.join-registration-box {
  width: 100%;
  margin-top:40px;
  display: flex;
  justify-content: center;
}
.join-gradient-box {
  box-sizing: border-box;
  width: 100%;
  height: 52px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.join-workshop-info-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.join-workshop-title-style {
  font: 700 30px Montserrat, sans-serif;
  color: #131313;
}
.join-workshop-description {
  box-sizing: border-box;
  width: 56px;
  margin-top: 33px;
  margin-left: -56px;
  border-top: 3px solid #ff7f6b;
}
.join-image-container1 {
  margin-top: 55px;
  margin-left: -56px;
  padding: 5px;
}
.join-image-container {
  box-sizing: border-box;
  width: 500px;
  height: auto;
  margin-top: 
  -60px;
}
@media screen and (max-width:600px){
 .join-image-container{
  width: 400px;
  height: auto;
 } 
}

@media screen and (max-width:360px){
  .join-image-container{
   width: 300px;
   height: auto;
  } 
 }