.business-growth-section1 {
  margin-top: 20px;
}
.business-growth-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}
.svg-container1 {
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.business-growth-message {
  padding: 0;
  margin: 0;
  font: 400 15px Montserrat, sans-serif;
}
.time-wealth-secrets-styler {
  font: 700 15px Montserrat, sans-serif;
}
